.radio-group {
    display: flex;
    flex-direction: column;
}

.radio-item {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 12px;
    border-radius: 12px;
    border-top-width: 1px;
}

.radio-input {
    margin-right: 4px;
}