.home-page {
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.app-name {
    margin: 24px 24px 8px 24px;
}

.app-description {
    color: #606060;
    margin-left: 24px;
    margin-right: 24px;
}

.form-card {
    padding: 24px;
    margin: 0px 16px 8px 16px;
}

.label {
    margin-top: 16px;
}

.submit-button {
    margin: 0px 16px 8px 16px;
}

.options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.option-input {
    margin-top: 4px;
    margin-bottom: 4px;
}

.delete-button {
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.loading-spinner {
    margin-right: 8px;
}

.alert {
    width: inherit;
}