.poll-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
}

.poll-loading-spinner {
    margin: 24px;
}

.poll {
    display: flex;
    flex-direction: column;
    margin: 24px;
}

.poll-submit-button {
    margin-top: 12px;
    border-radius: 12px;
}

.poll-submit-spinner {
    margin-right: 8px;
}

.result-alert {
    width: inherit;

}