.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
}

.loading-spinner {
    margin: 24px;
}

.result-list-item {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 12px;
    border-radius: 12px;
}

.item-badge {
    margin-left: 6px;
}

.share-button {
    margin-top: 12px;
}

.alert {
    margin: 16px;
    width: inherit;
}